
body{
    background-color: #EBE4D9;
}

header{
    font-family: Gilgan;
    margin: 20px;
    border-bottom-style: solid;
    border-color: #D62E2B;
}

.navbar{
    display: flex;
    justify-content: space-between;
}

.inline-block{
    display: flex;
    vertical-align:top;   
}

.positionBottom{
    display: flex;
    justify-content: center;
    align-items: center;
}

.talk{
    text-align: right;
    align-items: center;
}

.logo{
    text-align: center;
    width:23%;
    padding:1%;
}

.positionBottom li{
    margin-left: 10px;
}

h1{
    font-size: 75px;
    font-family:Dream Cottage;
    color: #D62E2B;
    text-align: center;
    margin: 5px; 
}


.purple{
    display: flex;
    justify-content: center;
}


ul{
    list-style-type: none;
    text-align: center;
}

.logo{
    text-align:center;
}

.heroImg{
    /*height: 300px;*/
    padding:10px;
    height: auto;
}

p{
    font-family: Gilgan;
   
}

.content{
    /* width:500px; */
    margin:0 auto;

}

footer{ 
    border-style: solid;
    border-color: #D62E2B;
    margin: 30px;
    padding: 30px;
}

.footer{ 
    text-align: center;
    font-family: Gilgan;
    display: flex;
    justify-content: center;
    flex-direction: column;
}   

.flex {
    display: flex;
    justify-content: center;
}

.aboutMe {
    margin-left: 15px;
    width: 300px;
}

.aboutMeP {
    background-image:url('./images/Vector2-1.png')
}

.navbar {
    display: flex;
}